body {
  font-family: sans-serif;
  color: #2f302e;
  background-color: #fcf6f0;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

h1 {
  margin: 10px 0;
}

header p {
  font-style: italic;
}

main {
  text-align: center;
  border: 2px solid #e8e2db;
  border-radius: 10px;
  height: 700px;
  padding: 5px;
  background-color: #f8efe6;
}

main input {
  padding: 10px 5px;
  width: 80%;
  border: 2px solid #e8e2db;
  border-radius: 10px;
  display: inline-block;
}

input:focus {
  outline: 2px solid #f1943c;
}

.filters {
  padding: 10px 5px;
}

.filters button {
  background-color: #e8ede0;
  padding: 8px 10px;
  border: none;
  margin-right: 15px;
  border-radius: 5px;
}

.filters button:hover {
  background-color: #f1943c;
  color: white;
}

.recipes-container {
  text-align: left;
  width: 100%;
  padding: 10px;
}

.recipe-card {
  height: 300px;
  width: 200px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border: 2px solid #e8e2db;
  border-radius: 10px;
  background-color: #fdfdfc;
}

.add-recipe-btn {
  height: 300px;
  width: 200px;
  border: 2px solid #e8e2db;
  border-radius: 10px;
  background-color: #fdfdfc;
}

.add-recipe-btn:hover,
.recipe-card:hover {
  border: 2px solid #f1943c;
}

.recipe-name {
  font-size: 20px;
}

.attribute {
  display: inline-block;
  margin: 5px;
  background-color: #f5dfc5;
  border-radius: 10px;
  padding: 5px;
}

form {
  display: none;
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 700px;
  background-color: #fdfdfc;
  border: 2px solid #f1943c;
  border-radius: 10px;
  padding: 10px;
}

form input,
form textarea,
form select {
  padding: 10px 5px;
  width: 98%;
  border: 2px solid #e8e2db;
  border-radius: 10px;
  display: block;
  margin: 10px 0;
}

textarea:focus {
  outline: 2px solid #f1943c;
}

form button {
  margin: 50px;
  width: 30%;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  background-color: #f5dfc5;
}

#cancel-btn:hover {
  background-color: #d85c45;
  color: white;
}

#add-btn:hover {
  background-color: #76855f;
  color: white;
}

.card-info {
  display: none;
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 850px;
  background-image: url("images/background.png");
  border: 2px solid #ca7b31;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.info-section {
  border: 2px solid #76855f;
  border-radius: 10px;
  margin: 40px 0;
  padding: 10px;
}

.card-info h2 {
  font-size: 36px;
  color: #ca7b31;
}

.card-info h3 {
  font-size: 24px;
  color: #76855f;
}

.card-info button {
  margin: 50px;
  width: 60%;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  background-color: #76855f;
  color: white;
  font-size: 24px;
}

#close-btn:hover {
  background-color: #d85c45;
  color: white;
}
